{% extends 'index.html' %}
{% block title %} PURCHASE MANAGEMENT {% endblock %}
{% block content %}
<!-- usersTable -->
<div class="main-panel">
    <div class="content-wrapper">
        {% if perms.stock_add_purchase %}<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addModal">Purchase</button>{% endif %}
        <a class="btn btn-outline-secondary mb-3" href="{% url 'purchase-all' %}">delete all</a>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><center> Purchased Table </center></h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered"  id="myTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Purchased Date</th>
                                        <th>Material</th>
                                        <th>Category</th>
                                        <th>unit</th>
                                        <th>Quantity</th>
                                        <th>Cost</th>
                                        <th>Confirm date</th>
                                        <th>Status</th>
                                        <th>Action</th>       
                                        <th>Confirm</th>           
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for purchase in purchases %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ purchase.date }}</td>
                                        <td>{{ purchase.name }}</td>
                                        <td>{{ purchase.category.name }}</td>
                                        <td>{{ purchase.unit.name }}</td>
                                        <td>{{ purchase.quantity }}</td>
                                        <td>{{ purchase.price_variation }}</td>
                                        <td>{% if purchase.received_date %}{{ purchase.received_date }}{% elif purchase.cancelled_date %}{{ purchase.cancelled_date }}{% endif %}</td>
                                        <td>{{ purchase.status }}</td>
                                        <td>
                                            {% if purchase.received_date or purchase.cancelled_date %}
                                            <button type="button" data-bs-toggle="modal" disabled data-bs-target="#editModal{{ purchase.id }}" class="btn btn-outline-success ti-pencil"></button>
                                            {% else %}
                                            {% if perms.stock.change_purchase %}<button type="button" data-bs-toggle="modal" data-bs-target="#editModal{{ purchase.id }}" class="btn btn-outline-success ti-pencil"></button>{% endif %}
                                            {% endif %}

                                            {% if purchase.received_date or purchase.cancelled_date %}
                                            <a class="btn btn-outline-danger ti-trash"  href="{% url 'delete-purchase' purchase.id %}" onclick="return confirm('Are you sure you want to delete {{ purchase.name }}?');" style="pointer-events: none;"></a>
                                            {% else %}
                                            {% if perms.stock.delete_purchase %}<a class="btn btn-outline-danger ti-trash" href="{% url 'delete-purchase' purchase.id %}" onclick="return confirm('Are you sure you want to delete {{ purchase.name }}?');"></a>{% endif %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div id="purchase-buttons-{{ purchase.id }}">
                                                {% if not purchase.received_date and not purchase.cancelled_date %}
                                                <!-- Receive Button -->
                                                {% if perms.stock.receive_purchase %}
                                                <a id="receiveButton-{{ purchase.id }}"class="btn btn-success btn-rounded btn-fw"href="{% url 'received-purchase' purchase.id %}"onclick="return handleConfirmation({{ purchase.id }}, '{{ purchase.name }}', 'receive');">Receive</a>
                                                {% endif %}
                                                <!-- Cancel Button -->
                                                {% if perms.stock.cancel_purchase %} 
                                                <a id="cancelButton-{{ purchase.id }}"class="btn btn-danger btn-rounded btn-fw"href="{% url 'cancelled-purchase' purchase.id %}"onclick="return handleConfirmation({{ purchase.id }}, '{{ purchase.name }}', 'cancel');"> Cancel</a>
                                                {% endif %}
                                                {% elif purchase.received_date %}
                                                <!-- Received Button -->
                                                {% if perms.stock.receive_purchase %}
                                                <a id="receiveButton-{{ purchase.id }}"class="btn btn-secondary btn-rounded btn-fw"href="#"onclick="return false;">Received
                                                </a>
                                                {% endif %}
                                                {% elif purchase.cancelled_date %}
                                                {% if perms.stock.cancel_purchase %}
                                                <a id="cancelButton-{{ purchase.id }}"class="btn btn-secondary btn-rounded btn-fw"href="#"onclick="return false;">Cancelled</a>
                                                {% endif %}
                                                {% endif %}
                                            </div>                                              
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Purchase Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Purchase Material</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'purchase-management' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" name="name" id="name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="category" class="form-label">Category</label>
                                    <select name="category" id="category.id" class="form-control">
                                        <option value="">Select category</option>
                                        {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="price_variation" class="form-label">Cost Price</label>
                                    <input type="number" min="1" step="0.01" name="price_variation" id="price_variation_id" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="quantity" class="form-label">Quantity</label>
                                    <input type="number"   name="quantity" id="quantity_id" min="0" step="0.01" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="unit">unit</label>
                                    <select name="unit" id="unit.id" class="form-control">
                                        <option value="">Select unit</option>
                                        {% for unit in units %}
                                        <option value="{{ unit.id }}">{{ unit.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="date" class="form-label">Date</label>
                                    <input type="date" name="date" id="date_id" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Update Purchase Modal -->
{% for purchase in purchases %}
<div class="modal fade" id="editModal{{ purchase.id }}" tabindex="-1" aria-labelledby="editModalLabel{{ purchase.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel{{ purchase.id }}">Purchase Date: {{ purchase.date }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'update-purchase' purchase.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="name{{ purchase.id }}" class="form-label">Purchase Material</label>
                                    <input type="text" name="name" value="{{ purchase.name }}" id="name{{ purchase.id }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="category{{ purchase.id }}" class="form-label">Category</label>
                                    <select name="category" id="category{{ purchase.id }}" class="form-control" required>
                                        <option value="">Select category</option>
                                        {% for category in categories %}
                                        <option value="{{ category.id }}" {% if category.id == purchase.category.id %}selected{% endif %}>{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="price_variation{{ purchase.id }}" class="form-label">Cost Price</label>
                                    <input type="number" name="price_variation" value="{{ purchase.price_variation }}" id="price_variation{{ purchase.id }}" class="form-control" step="0.01" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="quantity{{ purchase.id }}" class="form-label">Quantity</label>
                                    <input type="number" name="quantity" value="{{ purchase.quantity }}" id="quantity{{ purchase.id }}" class="form-control" step="0.01" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="unit{{ purchase.id }}" class="form-label">Unit</label>
                                    <select name="unit" id="unit{{ purchase.id }}" class="form-control" required>
                                        <option value="">Select unit</option>
                                        {% for unit in units %}
                                        <option value="{{ unit.id }}" {% if unit.id == purchase.unit.id %}selected{% endif %}>{{ unit.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="date{{ purchase.id }}" class="form-label">Date</label>
                                    <input type="date" name="date" value="{{ purchase.date|date:'Y-m-d' }}" id="date{{ purchase.id }}" class="form-control" required>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "paging": true,
            "ordering": true,
            "lengthChange": true,
            "searching": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
        }).buttons().container().appendTo('#myTable_wrapper .col-md-6:eq(0)');
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var quantityInput = document.getElementById('quantity_id');

        quantityInput.addEventListener('input', function () {
            var value = parseFloat(quantityInput.value);
            if (isNaN(value) || value < 0) {
                // Handle invalid input
                quantityInput.setCustomValidity('Quantity must be a number greater than or equal to 0.');
            } else {
                quantityInput.setCustomValidity('');
            }
        });
    });
</script>

<script>
    function handleConfirmation(purchaseId, purchaseName, action) {
        if (confirm('Are you sure you want to ' + (action === 'receive' ? 'receive ' : 'cancel ') + purchaseName + '?')) {
            // Get the buttons container
            var buttonsContainer = document.getElementById('purchase-buttons-' + purchaseId);
            
            // Hide all buttons initially
            var buttons = buttonsContainer.getElementsByTagName('a');
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].style.display = 'none';
            }
    
            // Get the relevant button and show it with status
            var relevantButton = document.getElementById(action + 'Button-' + purchaseId);
            if (relevantButton) {
                relevantButton.innerHTML = action === 'receive' ? 'Received' : 'Cancelled';
                relevantButton.classList.remove(action === 'receive' ? 'btn-success' : 'btn-danger');
                relevantButton.classList.add('btn-secondary');
                relevantButton.style.pointerEvents = 'none'; // Disable further click events
                relevantButton.style.display = 'inline-block'; // Ensure button is visible
            }
    
            // Remove the other button from DOM
            var otherAction = action === 'receive' ? 'cancel' : 'receive';
            var otherButton = document.getElementById(otherAction + 'Button-' + purchaseId);
            if (otherButton) {
                otherButton.remove();
            }
    
            // Proceed with navigation
            setTimeout(function() {
                window.location.href = relevantButton ? relevantButton.getAttribute('href') : '#';
            }, 100); // Short delay before navigation
    
            return false; // Stop the default link behavior
        } else {
            return false; // Prevent navigation if the action is canceled
        }
    }
    
</script>

{% endblock %}
