{% extends 'index.html' %}
{% load custom_filters %}
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">
            <div class="tab-content tab-content-basic">
              <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="statistics-details d-flex align-items-center justify-content-between">
                      <div class="d-none d-md-block">
                        <div class="card" style="display: inline-block;">
                          <div class="card-header">
                            <h3 class="card-title">USERS</h3>
                          </div>
                          <div class="card-body">
                            <h3><span>{{total_user}}</span></h3>
                            <!--<p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>-->
                          </div>
                        </div>
                      </div>
                      <div class="d-none d-md-block">
                        <div class="card">
                          <div class="card-header">
                            <h3 class="card-title">ORDERS</h3>
                          </div>
                          <div class="card-body">
                            <h3><span>{{total_order}}</span></h3>
                            <p class="{% if order_rate > 0 %}text-success d-flex{% elif order_rate < 0 %}text-danger d-flex{% else %}d-flex{% endif %}">
                              <i class="{% if order_rate > 0 %}mdi mdi-menu-up{% elif order_rate < 0 %}mdi mdi-menu-down{% endif %}"></i>
                              <span>{% if order_rate > 0 %} + {% elif order_rate < 0 %} - {% else %} {% endif %} {{ order_rate }}%</span>
                          </p>
                          </div>
                        </div>
                      </div>
                      <div class="d-none d-md-block">
                        <div class="card">
                          <div class="card-header">
                            <h3 class="card-title">INCOME</h3>
                          </div>
                          <div class="card-body">
                            <h3><span>{{total_income|commafy}}</span></h3>
                            <p class="{% if income_rate > 0 %}text-success d-flex{% elif income_rate < 0 %}text-danger d-flex{% else %}d-flex{% endif %}">
                              <i class="{% if income_rate > 0 %}mdi mdi-menu-up{% elif income_rate < 0 %}mdi mdi-menu-down{% endif %}"></i>
                              <span>{% if income_rate > 0 %} + {% elif income_rate < 0 %} - {% else %} {% endif %}{{ income_rate }}</span>
                          </p>
                          </div>
                        </div>
                      </div>
                      <div class="d-none d-md-block">
                        <div class="card">
                          <div class="card-header">
                            <h3 class="card-title">WASTAGES</h3>
                          </div>
                          <div class="card-body">
                            <h3><span>{{day_wastage|commafy}}</span></h3>
                            <p class="{% if wastage_rate > 0 %}text-success d-flex{% elif wastage_rate < 0 %}text-danger d-flex{% else %}d-flex{% endif %}">
                              <i class="{% if wastage_rate > 0 %}mdi mdi-menu-up{% elif wastage_rate < 0 %}mdi mdi-menu-down{% endif %}"></i>
                              <span>{% if wastage_rate > 0 %} + {% elif wastage_rate < 0 %} - {% else %} {% endif %} {{wastage_rate}}</span>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="d-none d-md-block">
                        <div class="card">
                          <div class="card-header">
                            <h3 class="card-title">PURCHASE</h3>
                          </div>
                          <div class="card-body">
                            <h3><span>{{ purchases|commafy }}</span></h3>
                            <p class="{% if purchases_rate < 0 %}text-success d-flex{% elif purchases_rate > 0 %}text-danger d-flex{% else %}d-flex{% endif %}">
                              <i class="{% if purchases_rate > 0 %}mdi mdi-menu-up{% elif purchases_rate < 0 %}mdi mdi-menu-down{% endif %}"></i>
                              <span>{% if purchases_rate > 0 %} + {% elif purchases_rate < 0 %} - {% else %} {% endif %} {{purchases_rate}}</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 d-flex flex-column">
                    <div class="row flex-grow">
                      <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                              <div>
                              <h4 class="card-title card-title-dash">Weekly purchase comparison</h4>
                              <h5 class="card-subtitle card-subtitle-dash"></h5>
                              </div>
                              <div id="performance-line-legend"></div>
                            </div>
                            <div class="chartjs-wrapper mt-5">
                              <canvas id="performaneLine"></canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 d-flex flex-column">
                    <div class="row flex-grow">
                      <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                        <div class="card bg-primary card-rounded">
                          <div class="card-body pb-0">
                            <h4 class="card-title card-title-dash text-white mb-4">Status Summary</h4>
                            <div class="row">
                              <div class="col-sm-4">
                                <p class="status-summary-ight-white mb-1">Closed Value</p>
                                <h2 class="text-info">357</h2>
                              </div>
                              <div class="col-sm-8">
                                <div class="status-summary-chart-wrapper pb-4">
                                  <canvas id="status-summary"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                                  <div class="circle-progress-width">
                                    <div id="totalVisitors" class="progressbar-js-circle pr-2"></div>
                                  </div>
                                  <div>
                                    <p class="text-small mb-2">Total Visitors</p>
                                    <h4 class="mb-0 fw-bold">26.80%</h4>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="circle-progress-width">
                                    <div id="visitperday" class="progressbar-js-circle pr-2"></div>
                                  </div>
                                  <div>
                                    <p class="text-small mb-2">new user</p>
                                    <h4 class="mb-0 fw-bold">10%</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 d-flex flex-column">
                    <div class="row flex-grow">
                      <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                              <div>
                                <h4 class="card-title card-title-dash">Market Overview</h4>
                              <p class="card-subtitle card-subtitle-dash">Monthly market review</p>
                              </div>
                              <div>
                                <div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Filter </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                    <h6 class="dropdown-header">Settings</h6>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                              <div class="d-sm-flex align-items-center mt-4 justify-content-between"><h2 class="me-2 fw-bold"></h2><h4 class="me-2">TSH</h4><h4 class="{% if p < 0 %} text-danger {% else %} text-success {% endif %}">({{p|floatformat}})</h4></div>
                              <div class="me-3"><div id="marketing-overview-legend"></div></div>
                            </div>
                            <div class="chartjs-bar-wrapper mt-3">
                              <canvas id="marketingOverview" width="400" height="200"></canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row flex-grow">

                      <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded table-darkBGImg">
                          <div class="card-body">
                            <div class="col-sm-8">
                              <h3 class="text-white upgrade-info mb-0">
                                Enhance your <span class="fw-bold">Campaign</span> for better outreach
                              </h3>
                              <a href="#" class="btn btn-info upgrade-btn">Upgrade Account!</a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="row flex-grow">
                      <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                              <div>
                                <h4 class="card-title card-title-dash">Pending Requests</h4>
                                <p class="card-subtitle card-subtitle-dash">You have 50+ new requests</p>
                              </div>
                              <div>
                                <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i>Add new member</button>
                              </div>
                            </div>
                            <div class="table-responsive  mt-1">
                              <table class="table select-table">
                                <thead>
                                  <tr>
                                    <th>
                                      <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                                      </div>
                                    </th>
                                    <th>Customer</th>
                                    <th>Company</th>
                                    <th>Progress</th>
                                    <th>Status</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for o in orders %}
                                  <tr>
                                    <td>
                                      <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="d-flex ">
                                        <img src="images/faces/face1.jpg" alt="">
                                        <div>
                                          <h6>Brandon Washington</h6>
                                          <p>{{o.user.username}}</p>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <h6>Company name 1</h6>
                                      <p>{{ o.name.name.name }}</p>
                                    </td>
                                    <td>
                                      <div>
                                        <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                          <p class="text-success">79%</p>
                                          <p>{{o.name.price}}</p>
                                        </div>
                                        <div class="progress progress-md">
                                          <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                      </div>
                                    </td>
                                    <td><div class="badge badge-opacity-warning">In progress</div></td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% comment %}
                    <div class="row flex-grow">
                      <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body card-rounded">
                            <h4 class="card-title  card-title-dash">Recent Events</h4>
                            <div class="list align-items-center border-bottom py-2">
                              <div class="wrapper w-100">
                                <p class="mb-2 font-weight-medium">
                                  Change in Directors
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="d-flex align-items-center">
                                    <i class="mdi mdi-calendar text-muted me-1"></i>
                                    <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="list align-items-center border-bottom py-2">
                              <div class="wrapper w-100">
                                <p class="mb-2 font-weight-medium">
                                  Other Events
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="d-flex align-items-center">
                                    <i class="mdi mdi-calendar text-muted me-1"></i>
                                    <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="list align-items-center border-bottom py-2">
                              <div class="wrapper w-100">
                                <p class="mb-2 font-weight-medium">
                                  Quarterly Report
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="d-flex align-items-center">
                                    <i class="mdi mdi-calendar text-muted me-1"></i>
                                    <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="list align-items-center border-bottom py-2">
                              <div class="wrapper w-100">
                                <p class="mb-2 font-weight-medium">
                                  Change in Directors
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="d-flex align-items-center">
                                    <i class="mdi mdi-calendar text-muted me-1"></i>
                                    <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="list align-items-center pt-3">
                              <div class="wrapper w-100">
                                <p class="mb-0">
                                  <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                              <h4 class="card-title card-title-dash">Activities</h4>
                              <p class="mb-0">20 finished, 5 remaining</p>
                            </div>
                            <ul class="bullet-line-list">
                              <li>
                                <div class="d-flex justify-content-between">
                                  <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                                  <p>Just now</p>
                                </div>
                              </li>
                              <li>
                                <div class="d-flex justify-content-between">
                                  <div><span class="text-light-green">Oliver Noah</span> assign you a task</div>
                                  <p>1h</p>
                                </div>
                              </li>
                              <li>
                                <div class="d-flex justify-content-between">
                                  <div><span class="text-light-green">Jack William</span> assign you a task</div>
                                  <p>1h</p>
                                </div>
                              </li>
                              <li>
                                <div class="d-flex justify-content-between">
                                  <div><span class="text-light-green">Leo Lucas</span> assign you a task</div>
                                  <p>1h</p>
                                </div>
                              </li>
                              <li>
                                <div class="d-flex justify-content-between">
                                  <div><span class="text-light-green">Thomas Henry</span> assign you a task</div>
                                  <p>1h</p>
                                </div>
                              </li>
                              <li>
                                <div class="d-flex justify-content-between">
                                  <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                                  <p>1h</p>
                                </div>
                              </li>
                              <li>
                                <div class="d-flex justify-content-between">
                                  <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                                  <p>1h</p>
                                </div>
                              </li>
                            </ul>
                            <div class="list align-items-center pt-3">
                              <div class="wrapper w-100">
                                <p class="mb-0">
                                  <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endcomment %}
                  </div>
                  <div class="col-lg-4 d-flex flex-column">
                    <div class="row flex-grow">
                      <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="d-flex justify-content-between align-items-center">
                                  <h4 class="card-title card-title-dash">{{user.username}} Todo list</h4>
                                  <div class="add-items d-flex mb-0">
                                    <button type="button" class="add btn btn-icons btn-rounded btn-primary todo-list-add-btn text-white me-0 pl-12p " data-bs-toggle="modal" data-bs-target="#addUserModal"><i class="mdi mdi-plus"></i></button>
                                  </div>
                                </div>
                                <div class="list-wrapper">
                                  <ul class="todo-list todo-list-rounded">
                                      {% for T in pd %}
                                          <li class="d-block todo-item {% if forloop.counter > 5 %}hidden{% endif %}">
                                              <div class="form-check w-100">
                                                  <label class="form-check-label">
                                                      <input class="checkbox" type="checkbox"> {{ T.activities_name }} ({{ T.description }}) <i class="input-helper rounded"></i>
                                                  </label>
                                                  <div class="d-flex mt-2">
                                                      <div class="ps-4 text-small me-3">{{ T.date|date:"Y-m-d" }}</div>
                                                      <p>{{ T.time|time:"H:i" }}</p>
                                                      <div class="{% if T.status == 'Completed' %}badge badge-opacity-success me-3{% elif T.status == 'Due Tomorrow' %} badge badge-opacity-secondary me-3 {% elif T.status == 'In Progress' %}  badge badge-opacity-primary me-3{% else %}badge badge-opacity-warning me-3{% endif %}">{{ T.status }}</div>
                                                      <a href="#" data-bs-toggle="modal" data-bs-target="#editModal{{ T.id }}" class="text-success">
                                                        <i class="ti-pencil"></i>
                                                    </a>
                                                  </div>
                                              </div>
                                          </li>
                                      {% endfor %}
                                  </ul>
                                  <button id="see-more-btn" class="btn btn-primary">See More</button>
                              </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row flex-grow">
                      <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                  <h4 class="card-title card-title-dash">Category By Amount</h4>
                                </div>
                                <canvas class="my-auto" id="doughnutChart" height="200"></canvas>
                                <div id="doughnut-chart-legend" class="mt-5 text-center"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% comment %}
                    <div class="row flex-grow">
                      <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                  <div>
                                    <h4 class="card-title card-title-dash">Leave Report</h4>
                                  </div>
                                  <div>
                                    <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Month Wise </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                        <h6 class="dropdown-header">week Wise</h6>
                                        <a class="dropdown-item" href="#">Year Wise</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mt-3">
                                  <canvas id="leaveReport"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endcomment %}
                    {% comment %}
                    <div class="row flex-grow">
                      <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                  <div>
                                    <h4 class="card-title card-title-dash">Top Performer</h4>
                                  </div>
                                </div>
                                <div class="mt-3">
                                  <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                    <div class="d-flex">
                                      <img class="img-sm rounded-10" src="images/faces/face1.jpg" alt="profile">
                                      <div class="wrapper ms-3">
                                        <p class="ms-1 mb-1 fw-bold">Brandon Washington</p>
                                        <small class="text-muted mb-0">162543</small>
                                      </div>
                                    </div>
                                    <div class="text-muted text-small">
                                      1h ago
                                    </div>
                                  </div>
                                  <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                    <div class="d-flex">
                                      <img class="img-sm rounded-10" src="images/faces/face2.jpg" alt="profile">
                                      <div class="wrapper ms-3">
                                        <p class="ms-1 mb-1 fw-bold">Wayne Murphy</p>
                                        <small class="text-muted mb-0">162543</small>
                                      </div>
                                    </div>
                                    <div class="text-muted text-small">
                                      1h ago
                                    </div>
                                  </div>
                                  <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                    <div class="d-flex">
                                      <img class="img-sm rounded-10" src="images/faces/face3.jpg" alt="profile">
                                      <div class="wrapper ms-3">
                                        <p class="ms-1 mb-1 fw-bold">Katherine Butler</p>
                                        <small class="text-muted mb-0">162543</small>
                                      </div>
                                    </div>
                                    <div class="text-muted text-small">
                                      1h ago
                                    </div>
                                  </div>
                                  <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                    <div class="d-flex">
                                      <img class="img-sm rounded-10" src="images/faces/face4.jpg" alt="profile">
                                      <div class="wrapper ms-3">
                                        <p class="ms-1 mb-1 fw-bold">Matthew Bailey</p>
                                        <small class="text-muted mb-0">162543</small>
                                      </div>
                                    </div>
                                    <div class="text-muted text-small">
                                      1h ago
                                    </div>
                                  </div>
                                  <div class="wrapper d-flex align-items-center justify-content-between pt-2">
                                    <div class="d-flex">
                                      <img class="img-sm rounded-10" src="images/faces/face5.jpg" alt="profile">
                                      <div class="wrapper ms-3">
                                        <p class="ms-1 mb-1 fw-bold">Rafell John</p>
                                        <small class="text-muted mb-0">Alaska, USA</small>
                                      </div>
                                    </div>
                                    <div class="text-muted text-small">
                                      1h ago
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endcomment%}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">{{user.username}}: Add ToDoList</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'todo-list-management' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="activity_name" class="form-label">Activity Name</label>
                                <input type="text" class="form-control" name="activities_name" id="activities_name_id" required>
                            </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                          <label for="description">description</label>
                          <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                      <div class="col-md-6">
                            <div class="mb-3">
                                <label for="status" class="form-label">Status</label>
                                <select name="status" class="form-control" id="status" required>
                                    <option value="pending">Pending</option>
                                    <option value="completed">Completed</option>
                                    <option value="in_progress">In Progress</option>
                                </select>
                            </div>
                      </div>
                      <div class="col-md-6">
                            <div class="mb-3">
                                <label for="priority" class="form-label">Priority</label>
                                <select name="priority" class="form-control" id="priority" required>
                                    <option value="low">Low</option>
                                    <option value="medium">Medium</option>
                                    <option value="high">High</option>
                                </select>
                            </div>
                      </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                        <div class="mb-3">
                          <label for="date">date</label>
                          <input type="date" class="form-control" name="date" id="date">
                        </div>
                  </div>
                  <div class="col-md-6">
                        <div class="mb-3">
                            <label for="time" class="form-label">Time</label>
                            <input type="time" class="form-control" name="time" id="time_id">
                        </div>
                  </div>
            </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
  </div>

  {% for T in pd %}
  <div class="modal fade" id="editModal{{ T.id }}" tabindex="-1" aria-labelledby="editModalLabel{{ T.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel{{ T.activities_name }}"> {{ T.activities_name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'update-todo-list' T.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                            <div class="col-md-6">
                              <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" name="description" value="{{ T.description }}" id="description.id" class="form-control">
                              </div>
                            </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                        <label for="priority" class="form-label">Priority</label>
                        <select name="priority" class="form-control" id="priority" required>
                                        <option value="{{T.priority}}">{% if T.priority == 'low' %}Low{% elif T.priority == 'medium' %}Medium{% else %}High{% endif %}</option>
                                        <option value="low">Low</option>
                                        <option value="medium">Medium</option>
                                        <option value="high">High</option>
                                    </select>
                            </div>
                          </div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="date">date</label>
                                    <input type="date" value="{{ T.date|date:'Y-m-d' }}" class="form-control" name="date" id="date">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                      <label for="time" class="form-label">Time</label>
                                      <input type="time" value="{{ T.time|time:'H:i' }}" class="form-control" name="time" id="time_id">
                                </div>
                            </div>
                    </div>
              </form>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
      </div>
  </div>
  {% endfor %}
  <script>

    var purchase_totals = JSON.parse('{{ purchase_totals|escapejs }}');
    console.log(purchase_totals);
    var sales_totals = JSON.parse('{{ sales_totals|safe }}');
    console.log(sales_totals);
    var months = JSON.parse('{{ months|safe }}');
    console.log(months);

    var this_week_totals = JSON.parse('{{ this_week_totals|safe }}');
    console.log(this_week_totals);
    var last_week_totals = JSON.parse('{{ last_week_totals|safe }}');
    console.log(last_week_totals);
    var day_purchase = JSON.parse('{{ day_purchase|safe }}');
    console.log(day_purchase);

    // Parse the products data that was passed from the Django view
    var productsData = JSON.parse('{{ products | safe }}');

    // Prepare the labels (product names) and data (quantities) for the chart
    var productLabels = productsData.map(product => product.name__name__category__name);
    var productQuantities = productsData.map(product => product.total);

    // Debugging outputs
    console.log('Product Labels:', productLabels);
    console.log('Product Quantities:', productQuantities);

  </script>


{% endblock %}